<%= form_for @artist do |a| %>

  <ul>
    <% @artist.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>


  <%= a.label :name %>
  <%= a.text_field :name %>

  <%= a.label :image %>
  <%= a.text_field :image %>

  <%= a.submit (@artist.new_record? ? "Create" : "Update") %>

<% end %>
