<%= form_for @artist, html: { multipart: true } do |a| %>

  <ul>
    <% @artist.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>

  <%= a.label :name %>
  <%= a.text_field :name %>

  <%= a.file_field "image", type: :file, multiple: false %>

  <%= a.submit (@artist.new_record? ? "Create" : "Update") %>

  <hr>

  <%= link_to '[Back]', artists_path %>

<% end %>
