<body>
  <h1>
    <strong><%= @artist.name %></strong>
  </h1>

  <div class="columnsContainer">

    <div class="leftColumn">
      <%= image_tag @artist.image, :width=>240, :height=>240, :crop=>"limit" %>
    </div>

    <div class="rightColumn">
      <h4>List of Songs</h4>
      <ul id="songs_list">
      </ul>
      <a onClick="confirm('Are you sure?') ? deleteAllSongs(<%= @artist.id %>) : true;">Delete All Songs</a>
    </div>
  </div>

  <br>
  <h2>New song</h2>
  <%= render "song_form" %>
  <br>
  <div class="nav inline-items">
    <nav>
      <%= link_to 'Edit ', edit_artist_path(@artist), class:"button" %>
      <%= link_to 'Back ', artists_path, class:"button"  %>
      <%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class:"button" %>
    </nav>
  </div>
</body>
