<h1><%= @song.artist.name %></h1>

<p>Link to the song: </p>
<%= link_to video_url @song.video_url %>

<hr>
<p>Song: </p>
<%= @song.name %>

<hr>

<%= link_to "[Edit]", edit_song_path(@song.id) %>
<%= link_to "[Delete]", song_path(@song.id), method: :delete, data: { confirm: "Are you sure?" } %>

    <br><br>
    <hr>
    <%= link_to "[All Songs]", root_path %>
