<h1><%= @song.artist.name %></h1>

<p>Link to the song: </p>
<%= link_to @song.audio_url, @song.audio_url, target: :_blank %>

<hr>
<p>Song: </p>
<%= @song.name %>

<hr>

<%= link_to "[Edit]", edit_artist_song_path(@song.artist_id, @song.id) %>
<%= link_to "[Delete]", artist_song_path(@song.artist_id, @song.id), method: :delete, data: { confirm: "Are you sure?" } %>

    <br><br>
    <hr>
    <%= link_to "[All Songs]", artist_songs_path(@song.artist_id) %>
